.button1 {
    width: 344.67px;
    height: 62.67px;
    border-radius: 41.78px;
    background: linear-gradient(30deg, #FE8687 20%, #AB52CE 80%);
    color: #fff;
    font-family: $ManropeB;
    font-size: 16.71px;
    display: flex;
    justify-content: center;
    align-items: center;
}