// <ОБНУЛЕНИЕ>=================================================================================================================================
@import "nullstyle";
// </ОБНУЛЕНИЕ>================================================================================================================================
// <ШРИФТЫ>=====================================================================================================================================

// <Подключаем шрифты>==========================================================================================================================
@font-face {
    font-family: 'ManropeR';
    src: url('/public/assets/fonts/Manrope-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ManropeB';
    src: url('/public/assets/fonts/Manrope-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'ManropeEB';
    src: url('/public/assets/fonts/Manrope-ExtraBold.ttf') format('truetype');
}
// </Подключаем шрифты>=========================================================================================================================

// <Переменные шрифтов>=========================================================================================================================
$ManropeR: 'ManropeR';
$ManropeB: 'ManropeB';
$ManropeEB: 'ManropeEB';
// </Переменные шрифтов>========================================================================================================================

// </ШРИФТЫ>====================================================================================================================================

// <Экраны>=================================================================================================================================
// d - Desktop; t - Tablet; m - Mobile;
$minWidth: 280px; // Минимальная ширина экрана
$maxWidthContainer: 1440px; // Контейнер
$d1: $maxWidthContainer + 80px;
$d2: 1336px + 80px;
$d3: 1280px + 80px;
$d4: 1024px + 80px;
$d5: 800px + 80px;
$t1: 768px + 40px;
$t2: 640px + 40px;
$m1: 480px + 30px;
$m2: 420px + 30px;
$m3: 360px + 30px;
$m4: 320px + 30px;
$m5: $minWidth + 30px;
// </Экраны>================================================================================================================================

// <ОБОЛОЧКА>=================================================================================================================================
.wrapper {
	width: 100%;
	max-width: $maxWidthContainer;
	margin: 0 auto;
}

@media (max-width: $d1) { 
	.wrapper { 
		padding-left: 40px !important;
		padding-right: 40px !important;
	} 
}
@media (max-width: $t1) { 
	.wrapper { 
		padding-left: 15px !important;
		padding-right: 15px !important;
	} 
}
// </ОБОЛОЧКА>================================================================================================================================

// <ОБЩИЕ СТИЛИ>=================================================================================================================================
  html {
	width: 100vw;
	height: 100vh;
	scroll-behavior: smooth;
  }

body {
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #fff;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
  }
  .link {
	text-decoration: underline;
	cursor: pointer;
  }
// </ОБЩИЕ СТИЛИ>================================================================================================================================

// <ИМПОРТЫ>====================================================================================================================================

// <КОМПОНЕНТЫ>====================================================================================================================================
@import 'header';
@import './sections/section1.scss';
@import './sections/section2.scss';
@import './sections/section3.scss';
@import './sections/section4.scss';
@import './sections/section5.scss';
@import './sections/section6.scss';
@import './sections/section7.scss';
@import 'footer';
// </КОМПОНЕНТЫ>====================================================================================================================================

// <UI>====================================================================================================================================
@import './UI/swiper';
// <КНОПКИ>====================================================================================================================================
@import './UI/buttons/button1.scss';
@import './UI/buttons/button2.scss';
// </КНОПКИ>====================================================================================================================================

// </ИМПОРТЫ>===================================================================================================================================